ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  // Sidebar - Brand
  a.sidebar-brand.d-flex.align-items-center.justify-content-center(href=`/lecture`)
    .sidebar-brand-icon.rotate-n-15
      i.fas.fa-graduation-cap
    .sidebar-brand-text.mx-3 LMS Lecture
  // Divider
  hr.sidebar-divider.my-0
  hr
  // Nav Item - Dashboard
  li.nav-item.active
    a.nav-link(href=`/lecture`)
      i.fas.fa-chalkboard-teacher
      span Xin chào #{lect.name} !
  // Divider
  hr.sidebar-divider
  li.nav-item
    a.nav-link(href='/lecture')
      i.fas.fa-tachometer-alt
      span Dashboard
  // Divider
  hr.sidebar-divider
  li.nav-item
    a.nav-link(href='/lecture#my-courses')
      i.fas.fa-book
      span Kho&#x301;a ho&#x323;c cu&#x309;a ba&#x323;n
  // Nav Item - Pages Collapse Menu
  li.nav-item
    a.nav-link(href='/lecture/info')
      i.fas.fa-user
      span Thông tin của bạn
  // Nav Item - Utilities Collapse Menu
  li.nav-item
    a.nav-link(href='/lecture/homework')
      i.fas.fa-list
      span Danh sách bài tập
  // Divider
  hr.sidebar-divider
  // Nav Item - Tables
  li.nav-item
    a.nav-link(href='#' data-toggle='modal' data-target='#logoutModal')
      i.fas.fa-sign-out-alt
      span &Dstrok;&abreve;ng xu&acirc;&#x301;t
  // Divider
  hr.sidebar-divider.d-none.d-md-block
  // Sidebar Toggler (Sidebar)
  .text-center.d-none.d-md-inline
    button#sidebarToggle.rounded-circle.border-0
// End of Sidebar