doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Qu&ecirc;n m&acirc;&#x323;t kh&acirc;&#x309;u
  // Custom fonts for this template
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  // Custom styles for this template
  link(rel='stylesheet' href='/css/bootstrap.min.css')
  link(rel='stylesheet' href='/css/admin.css')
body.bg-gradient-primary
.container
  // Outer Row
  .row.justify-content-center
    .col-sm-5
      .card.o-hidden.border-0.shadow-lg.my-5
        .card-body.p-0
          .p-5
            .text-center
              h1.h4.text-gray-900.mb-2 Qu&ecirc;n m&acirc;&#x323;t kh&acirc;&#x309;u?
              p.mb-4 Vui lo&#x300;ng nh&acirc;&#x323;p &dstrok;i&#x323;a chi&#x309; email &dstrok;a&#x303; &dstrok;&abreve;ng ky&#x301; cu&#x309;a ba&#x323;n.
            form.user(action='#' method='POST')
              .form-group
                input#exampleInputEmail.form-control.form-control-user(type='email' placeholder='Nhập địa chỉ Email đã đăng ký')
              button.btn.btn-primary.btn-user.btn-block(type='submit')
                | &Dstrok;&abreve;&#x323;t la&#x323;i m&acirc;&#x323;t kh&acirc;&#x309;u
            hr
            .text-center
              a.small(href='/register') Ta&#x323;o ta&#x300;i khoa&#x309;n m&#x1A1;&#x301;i!
            .text-center
              a.small(href='/login') Ba&#x323;n &dstrok;a&#x303; co&#x301; ta&#x300;i khoa&#x309;n? &Dstrok;&abreve;ng nh&acirc;&#x323;p
