form(action='/addLecture' enctype='multipart/form-data' method='POST')
          .form-group
            label(for='inputNameLecture') Tên giảng viên
            input#inputNameLecture.form-control(type='text' placeholder='Nhập tên giảng viên' name='inputNameLecture')
          .form-row
            .form-group.col-md-6
              label(for='inputEmailLecture') Email
              input#inputEmailLecture.form-control(name='inputEmailLecture' type='email' placeholder='Nhập email giảng viên')
            .form-group.col-md-6
              label(for='inputPhoneLecture') S&ocirc;&#x301; &dstrok;i&ecirc;&#x323;n thoa&#x323;i
              input#inputPhoneLecture.form-control(name='inputPhoneLecture' type='text' placeholder='Nhập số điện thoại')
          .form-group
            label(for='selectCategories') Lĩnh vực giảng dạy
            select#selectCategories.form-control(name='selectCategories')
              option(selected='' value=1) 1. Lập trình Web
              option(value=2) 2. Lập trình Mobile
              option(value=3) 3. Lập trình Game
          .form-group
            label(for='avatarLecture') A&#x309;nh &dstrok;a&#x323;i di&ecirc;&#x323;n
            input#avatarLecture.form-control-file(type='file' name='avatarLecture')
          .form-group
            label(for='inputDescLecture') M&ocirc; ta&#x309; gia&#x309;ng vi&ecirc;n
            textarea#inputDescLecture.form-control(rows='3' placeholder='Nhập mô tả giảng viên' name='inputDescLecture')
          hr
          .float-right
            button.btn.btn-secondary.mr-2(type='button' data-dismiss='modal') Đóng
            button.btn.btn-primary(type='submit') Thêm giảng viên