doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Đăng ký tài khoản
  // Custom fonts for this template
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  // Custom styles for this template
  link(href='/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='/css/login.css')
  script(src="/javascripts/resgister.js")
body.bg-gradient-primary
.container
  .row.justify-content-center
    .card.o-hidden.border-0.shadow-lg.my-5
      .card-body.p-0
        .p-5
          .text-center
            h1.h4.text-gray-900.mb-4 Ta&#x323;o Ta&#x300;i Khoa&#x309;n!
          form.user#create-account(method="POST" action="/auth/create-account")
            .form-group
              input#inputName.form-control.form-control-user(type='text' placeholder='Nhập họ tên' name='name')
            .form-group
              input#inputEmail.form-control.form-control-user(type='email' placeholder='Nhập Email của bạn' name='email')
            .form-group
              input#inputPhone.form-control.form-control-user(type='text' placeholder='Nhập số điện thoại của bạn' name='phone')
            .form-group.row
              .col-sm-6.mb-3.mb-sm-0
                input#inputPassword.form-control.form-control-user(type='password' placeholder='Mật khẩu' name='password' autocomplete="true")
              .col-sm-6
                input#repeatPassword.form-control.form-control-user(type='password' placeholder='Nhập lại mật khẩu' name="repeat-password" autocomplete="true")
            hr
            button(type="submit").btn.btn-primary.btn-user.btn-block
              | &Dstrok;&abreve;ng ky&#x301; ta&#x300;i khoa&#x309;n
            
          hr
          .text-center
            a.small(href='/auth/forgot-password') Qu&ecirc;n m&acirc;&#x323;t kh&acirc;&#x309;u?
          .text-center
            a.small(href='/auth/login') Ba&#x323;n &dstrok;a&#x303; co&#x301; ta&#x300;i khoa&#x309;n? &Dstrok;&abreve;ng nh&acirc;&#x323;p!
